* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#navbar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  background-color: #5b6bf8;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin-right: 50px;
}

#navbar ul a {
  display: inline-block;
  text-decoration: none;
  color: white;

  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px 15px;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

#welcome-section h1 {
  color: whitesmoke;
  font-size: 4rem;
  margin-bottom: 15px;
}

#welcome-section p {
  color: #33ff55;
  font-size: 1.8rem;
}

#projects {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #45567d;
}

#projects h2 {
  margin-bottom: 50px;
  color: whitesmoke;
  text-align: center;
}

.projects-grid {
  display: grid;
  min-height: 50vh;
  grid-template-columns: 450px 450px 450px;
  grid-auto-rows: 450px;
  gap: 50px;
  justify-content: center;

}

.project-tile {
  display: block;
  text-decoration: none;
}

.project-tile img {
  width: 100%;
  height: 90%;
}

.project-tile p {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  text-align: center;
  color: whitesmoke;
  background-color: #303841;
  font-size: 1.5rem;
}

.btn-div {
  margin-top: 50px;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-div .btn-show-all {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 1.6rem;
  background-color: #303841;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(22, 255, 61);
  font-size: 2rem;
  height: 10vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}


@media only screen and (max-width: 700px){

  .projects-grid {
    display: grid;
    min-height: 50vh;
    grid-template-columns: 300px;
    grid-auto-rows: 250px;
    gap: 50px;
    justify-content: center;
  }

  #projects h2 {
    margin-bottom: 50px;
    font-size: 0.9rem;
    color: whitesmoke;
    text-align: center;
  }

  #navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: inherit;
    background-color: #5b6bf8;
  }

  #navbar ul {
    flex-direction: column;
    text-align: center;
  }

  #welcome-section h1 {
    color: whitesmoke;
    font-size: 2rem;
    margin-bottom: 15px;
  }

  #welcome-section p {
    color: #33ff55;
    font-size: 1.8rem;
  }

}
